@using IntractiveTask.Entity.Dtos.UserDtos
@model UserCreateDto

<h2>Create User</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="PasswordHash" class="form-label"></label>
        <input asp-for="PasswordHash" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>
